*{
    padding: 0;
    margin: 0;
}

#about{
    background-color: #848c70;
}

.text{
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: x-large;
    padding: 5%;
    margin: 5%;
    float: left;
}