*{
    padding: 0;
    margin: 0;
}

#contact{ 
    height: 80vh;
    background-color: #848c70;
}
.ramcek{
    color: white;
    padding-right: 10%;
    padding-left: 50%;
}
.add{
    padding-left: 5%;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 150%;

}
.poslat{
    margin-top: 5px;
    background-color: skyblue;
    border-radius: 10px;
}
