#gallery{
  min-height: 100vh;
  background-color: #777;
}
.carousel-item{
  height: 100%;
  /* max-height: 100vh; */
  /* background: blue; */
  
}
.gallery-title{

  margin: 1%;
  text-align: center;
  font-family: "Festive", cursive;
  color: white;
  font-weight: bold;
}
#myCarousel {
  background-color: #777;
  height:max(80vh,900px);
}
.con{
  /* background-color: lightblue; */
  margin-top: 5%;
}
.carousel-inner{
  height:100%;
}
#gallerySection{
 
  height: 100vh;
}
.square {
  max-height: max(70vh,min(50vw,600px));
  /* background-color: red; */
  aspect-ratio: 3/2;
  margin: 0 auto;
}

.imgItemContainer {
  /*src bude pridaná v javascripte*/
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
  background-color: #777;

}

.src {
  /* background-color: #abcaba; */
  width: 100/3%;
  padding: 1%;
  display: flex;
}