:root{
  --primary-color: #848c70;
  --secondary-color: #777;
  --radius: 40px;
}
.main-title {
  font-family: "Festive", cursive;
  font-size: max(10vh,10vw);
  color: white;
  font-weight: bold;
}
.main-title-div .right {
  animation: 1.5s ease-in 0.5s reverse both running flyinR;
}
.main-title-div .left {
  animation: 1.5s ease-in 0.5s reverse both running flyinL;
}
.section-title {
  padding-top: 65px;
  padding-bottom: 20px;
  text-align: center;
  font-family: "Festive", cursive;
  color: white;
  font-weight: bold;
}
@keyframes flyinR {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100vw);
  }
}
@keyframes flyinL {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}

.box-shadow{
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}


.main-bg-image{
  height: 100%;
  background-image: url('../assets/backgroundMainPage.jpeg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  border-radius:0 0 30px 30px;

}
.normal {
  height: 100vh;
  max-height: 100vh;
  padding-bottom: 20px;
}

section {
  overflow: hidden;
  /* scroll-snap-align: start; */
}

.spacer{

  height:5vh;
  width:100%;
}
html,
body {
  background-color: var(--primary-color);
  margin: 0;
  padding: 0;
}
