.main-title {

    font-family: 'Festive', cursive;
    font-size: 10em;
    color: white;
    font-weight: bold;
}

.section-title {
    padding-top:5%;
    text-align: center;
    font-family: 'Festive', cursive;
    font-size: 8em;
    color: white;
    font-weight: bold;
}